@model marketplace.ViewModels.AdminViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Delete Form</h4>
            <div class="form-group row">
                <div class="col-sm-3 col-form-label">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
                <div class="col-sm-3 col-form-label">
                    @Html.DisplayNameFor(model => model.Nama)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Nama)
                </div>
                <div class="col-sm-3 col-form-label">
                    @Html.DisplayNameFor(model => model.NoHp)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.NoHp)
                </div>
                <div class="col-sm-3 col-form-label">
                    @Html.DisplayNameFor(model => model.Username)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Username)
                </div>
                <div class="col-sm-3 col-form-label">
                    @Html.DisplayNameFor(model => model.Password)
                </div>
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.Password)
                </div>
                <div class="col-sm-9">
                    
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdAdmin"/>
                    <input type="submit" value="Delete" class="btn btn-danger me-2" /> |
                    <a asp-action="Index" class="btn btn-light">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>