@using System.Globalization
@model List<marketplace.ViewModels.KeranjangViewModel>
@{
    ViewData["Title"] = "Keranjang";
    int i = 0;
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <form asp-controller="Order" asp-action="Checkout">
                        <table class="cart-table">
                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-remove"></th>
                                    <th class="product-image">Gambar Produk</th>
                                    <th class="product-name">Nama</th>
                                    @* <th class="product-price">Price</th> *@
                                    <th>Jumlah Barang</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Sub Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <input type="hidden" name="Id" value="@item.Id">
                                    i++;
                                    <tr class="table-body-row">
                                        <td class="product-remove"><a href="/keranjang/Delete/@item.Id"><i class="far fa-window-close"></i></a></td>
                                        <td class="product-image"><img src="~/@item.Gambar" height="100" /></td>
                                        <td class="product-name">@item.NamaProduk</td>
                                        @* <td class="product-price">@item.Harga</td> *@
                                        <td>@item.JmlBarang</td>
                                        <td>
                                            <input type="number" name="Qty" value="@item.JmlBarang" />
                                        </td>
                                        @* <td class="product-quantity"><input type="number" placeholder="0"
                                            value="@item.JmlBarang"></input></td> *@
                                        <td class="product-total">@item.Subtotal.ToString("C", new CultureInfo("id-ID"))
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <label>Pilih Alamat Pengiriman</label>
                        <select name="Alamat" asp-items="@ViewBag.AlamatList"></select>
                        <br />
                        <button type="submit" name="Action" value="Checkout">Checkout</button>
                        <button type="submit" name="Action" value="Simpan">Simpan</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Total</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Subtotal: </strong></td>
                                <td>$500</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Shipping: </strong></td>
                                <td>$45</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Total: </strong></td>
                                <td>$545</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="cart.html" class="boxed-btn">Update Cart</a>
                        <a href="" class="boxed-btn black">Check Out</a>
                    </div>
                </div>

                <div class="coupon-section">
                    <h3>Apply Coupon</h3>
                    <div class="coupon-form-wrap">
                        <form action="index.html">
                            <p><input type="text" placeholder="Coupon"></p>
                            <p><input type="submit" value="Apply"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->


@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
}